<form action= "formulario" method="post">
  <div>

  </div>

  <label>Nombre completo</label>
  <input type="text" name="txtnombre"
  value="{{textnombre}}" placeholder="Nombre completo"/>
  <br/>
  <input type="radio" name="generoM" value="M"{{Mchecked}} />

  <input type="radio" name="generoF" value="F"{{Fchecked}} />

</form>
